// -----------------------------------------------------------------------------
// This file contains animation styles.
// -----------------------------------------------------------------------------

@keyframes curtain-off {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}

@keyframes curtain-on {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

// @keyframes zoom-on {
//   0% {
//     scale: 1;
//   }
//   100% {
//     scale: 1.5;
//   }
// }

// @keyframes zoom-off {
//   0% {
//     scale: 1.5;
//   }
//   100% {
//     scale: 1;
//   }
// }

.curtain-on {
  animation: curtain-on 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards; /* Animation applies until the end state */
}

.curtain-off {
  animation: curtain-off 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.6s forwards; /* Animation applies until the end state */
}

.curtain-off canvas {
  animation: zoom-on 2s ease-out forwards;
}

.curtain-on canvas {
  animation: zoom-off 2s ease-out forwards;
}
